.home {
  width: 100%;
}
.makers {
  display: flex;
}
.home__container {
  /* max-width: 70%;*/
  margin: 0 auto;
}

.home__cta {
  margin: 2rem 35%;
  padding: 3rem 10rem;
  background-color: #202b42;
  width: fit-content;
  display: inline-block;
  cursor: pointer;

  box-shadow: 0px 0px 17px rgba(255, 255, 255, 0.4);
  transition: all 0.35s ease;
  border-radius: 3px;
}

.home__cta:hover {
  box-shadow: 0px 0px 17px rgba(255, 255, 255, 0.6);
}
.home__container section h1 {
  font-size: 1.75rem;
}

.home__container section p {
  font-size: 1.25rem;
}
